body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.full_error {
  background: url('../img/error_bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
